node_modules
.env
.env.local
.env.development
.env.production

frontend/.env
frontend/.env.local
frontend/.env.development
frontend/.env.production

backend/.env
backend/.env.development
backend/.env.deployment
backend/.env.production